
.button{
    display: block;
border: 1px solid rgb(130, 114, 234);
background-color: rgb(149, 149, 226);
border-radius: 5px;
height: 30px;
color: rgb(62, 26, 26);
font-size: 20px;
}
.button:hover{
    background-color: rgb(202, 149, 226);
}
.item{
    display: block;
    margin:0;
   width: 420px;
    display: flex;
   justify-content:space-between;
   align-items: center;
}
.text{
font-size: 20px;
margin-top: 8px;
margin-bottom: 8px;
}
.list{
    padding: 0;
    margin: 0;
}